:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1em;
  width: 50%;
}

.todo-header {
  margin: 0;
  padding-left: 0;
  padding-right: 2em;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

li {
  list-style: none;
  background-color: #fff;
  border: 1px solid #e2d8d8;
  padding: 0.5em 1em;
  width: 35em;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.input-label,
.todo-title {
  width: 70em;
}

.todo-title {
  margin-left: 1.5em;
}

label {
  max-width: 10em;
}

.icon {
  cursor: pointer;
  font-size: 0.9rem;
}

.fa-ellipsis-vertical {
  cursor: move;
  padding-right: 1.2em;
}

.fa-arrows-rotate {
  cursor: pointer;
}

.add-input {
  width: 97%;
  border: none;
}

p,
form {
  margin-top: 0;
  background-color: #fff;
  padding: 0.5em 1em;
  border: 1px solid #e2d8d8;
  text-align: center;
  max-width: 35em;
  font-size: 0.9rem;
}

.clear {
  cursor: pointer;
  color: #686363;
  height: 4em;
}

.clear:hover {
  text-decoration: underline;
}

.fa-trash-can {
  display: none;
}

.line-through {
  text-decoration: line-through;
  opacity: 0.5;
}

.hide-lists {
  display: none;
}

.user-input {
  border: none;
  width: 30em;
  height: 1em;
  resize: none;
  outline: none;
  font-size: 0.9rem;
  overflow: hidden;
}

[type='checkbox']:checked + textarea {
  opacity: 0.5;
  text-decoration: line-through;
}
